@import '~material-design-icons/iconfont/material-icons.css';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer{
    background-color: rgb(137, 23, 137);
    padding-bottom: 0%;
}