<div class="navbar-fixed">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="principal/menuprendas" class="brand-logo center">Blink Shop</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="login" (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="principal/menuprendas">Prendas</a></li>
          <li class="tab"><a href="principal/bolsadecompras">Bolsa de compras</a></li>
        </ul>
      </div>
    </nav>
  </div>