<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesión</title>
</head>
<body>

  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="login" class="brand-logo center">Blink Shop</a>
    </div>
  </nav>

  <div class="loginContainer">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <i class="material-icons prefix">account_circle</i>
            <input class="validate" type="email" [(ngModel)]="usuario.correo" name="email" id="email" placeholder="Correo" autocomplete="off">

          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <i class="material-icons prefix">vpn_key</i>
            <input class="validate" type="password" name="password" id="password" [(ngModel)]="usuario.contrasena" placeholder="Contraseña" autocomplete="off">

          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12 divOlvide">
            <a href="">Olvidé mi contraseña!</a>
          </div>
        </div>
        <div class="row">
          <button (click)="logueo()" class="btn waves-effect waves-light col s4 offset-s4">Entrar</button>
        </div>
        <div class="row">
          <div class="divider col s6 offset-s3"></div>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light modal-trigger col s4 offset-s4" href="#modalNuevoUsuario" (click)="limpiarUsuario( )">Registrarse</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal Structure -->
  <div  id="modalNuevoUsuario" class="modal">
    <div class="modal-content">
      <h4>Registrarse</h4>
      <div class="row">
        <div class="input-field col s12">
          <label>Nombre </label>
          <input [(ngModel)]="nuevousuario.nombre" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label>Correo </label>
          <input [(ngModel)]="nuevousuario.correo"  type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label>Nueva Contraseña </label>
          <input   [(ngModel)]="nuevousuario.contrasena"  type="password" class="validate">
        </div>
        <div class="input-field col s6">
          <label>Confirmar Contraseña </label>
          <input   [(ngModel)]="validarContrasena"  type="password" class="validate">
        </div>
      </div>
  </div>
    <div class="modal-footer">
        <a class="modal-close btn-flat">Cancelar</a>
        <a class="btn modal-close" (click)="nuevoUsuario()">Crear Usuario</a>
    </div>
  </div>

</body>
</html>